<div class="top-place">
    <div class="logo mt-3">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="fire-department-name">
        {{'title' | translate}}
    </div>
</div>

<div>
    <h2 class="text-center mt-4">Ανακοινώσεις</h2>
</div>
<div class="text-center mt-2">
    <p *ngIf="announcements && announcements.length == 0 || !announcements">Δεν υπάρχουν ανακοινώσεις.</p>
    <p *ngIf="announcements" class="announce-place-card">
        <mat-card class="example-card mb-2" *ngFor="let announce of announcements">
            <mat-card-title-group>
                <mat-card-title>{{announce.title}}</mat-card-title>
                <mat-card-subtitle>{{announce.date | date: 'dd/MM/YYYY HH:mm'}}</mat-card-subtitle>
                <img mat-card-lg-image *ngIf="announce.icon == 'attention'" src="assets/images/announcements/attention.jpg">
                <img mat-card-lg-image *ngIf="announce.icon == 'announce'" src="assets/images/announcements/announce.jpg">
            </mat-card-title-group>
            <mat-card-content>
                {{announce.message}}
            </mat-card-content>
        </mat-card>
    </p>
</div>

<div class="fix-btn-plus" *ngIf="user.type == 1">
    <button class="btn-plus" mat-raised-button (click)="openBottomSheet()"><mat-icon>add</mat-icon></button>
</div>




<!-- <div class="text-center mt-5">You are Logged in!</div> -->
<!-- <div class="container-fluid">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="tutorial.title" name="title" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" required [(ngModel)]="tutorial.description" name="description" />
            </div>
            <button (click)="saveTutorial()" class="btn btn-success mt-2">Submit</button>
        </div>
        <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success mt-2" (click)="newTutorial()">Add</button>
        </div>
    </div>
</div> -->