.logo {
    text-align: center;
    img {
        height: 150px;
    }
}

.fire-department-name{
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    font-style: italic;
}

.top-place{
    overflow: hidden;
}

.announce-place-card{
    padding: 25px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}