<div class="position-fixed top-0">
    <mat-icon class="log-out-icon" (click)="goBack()">reply</mat-icon>
</div>
<div class=" mt-4 mb-5 text-center">{{ 'gen_reset_password' | translate}}</div>

<form [formGroup]="firstFormGroup" class="text-center" style="overflow: hidden;">

    <div class="mt-1 container-fluid">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'gen_mail' | translate}}</mat-label>
                    <input matInput placeholder="{{'gen_placeholder_announcement' | translate}}" formControlName="email" required>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
<!-- Button next -->
<div class="text-center">
    <button mat-raised-button class="m-4 " (click)="send()">{{'btn_send' | translate}}</button>
</div>

<p class="m-4" style="color:red" *ngIf="showMessage">Ελέγξτε το email σας και στη συνέχεια πατήστε το url που σας στάλθηκε για επιβεβαίωση.</p>