<div class="logo">
    <img src="assets/images/logo.png" alt="">
</div>
<div class="fire-department-name">
    {{'title' | translate}}
</div>
<div class="container-fluid">
    <div class="row mt-5 ">
        <div class="col"></div>
        <div class="col-sm">
            <div class="">
                <div class="">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted" style="text-align: center;">{{'gen_login' | translate}}</h4>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">{{'gen_fire_department_ID'| translate}}</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">{{'gen_password' | translate}}</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="password">
                            </div>
                            <button class="btn btn-primary" (click)="login()">{{'gen_login' | translate}}</button>
                            <div class="row">
                                <div class="col-6">
                                    <a href="/register" style="text-decoration: none;">{{'gen_info_need_account' | translate}} <span class="text-danger">{{'gen_register' | translate}}</span></a>
                                </div>
                                <div class="col-6">
                                    <a href="/forgot-password" class="text-dark" style="text-decoration: none;">{{'gen_forgot_password' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>