<div class="btn-close" (click)="closeDialog()"></div>
<div><span>{{'gen_date' | translate}}</span>{{events.date | date:'dd/MM/yyyy'}}</div>
<div class="mt-5  container-table">
    <div class="row">
        <div class="col">
            <span *ngIf="type == 1">{{'gen_fullname' | translate}}</span>
        </div>
        <div class="col-2">
            A
        </div>
        <div class="col-2">
            B
        </div>
        <div class="col-2">
            Γ
        </div>
    </div>
    <div *ngFor="let event of services" class="row">
        <div class="col fix name-service"> {{event.name}}</div>
        <div class="col-2">
            <mat-icon class="no-service" *ngIf="!event.service[0].A"> </mat-icon>
            <mat-icon style="transform: translateY(4px);  color: green" *ngIf="event.service[0].A">person</mat-icon>
        </div>
        <div class="col-2">
            <mat-icon class="no-service" *ngIf="!event.service[0].B"> </mat-icon>
            <mat-icon style="transform: translateY(4px);  color: green" *ngIf="event.service[0].B">person</mat-icon>
        </div>
        <div class="col-2">
            <mat-icon class="no-service" *ngIf="!event.service[0].G"> </mat-icon>
            <mat-icon style="transform: translateY(4px); color: green" *ngIf="event.service[0].G">person</mat-icon>
        </div>
    </div>
</div>