/* Structure */
table {
    width: 100%;
    th,td{
        text-align: center;
    }
    td {
        font-size: 13px;
    }
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

::ng-deep {
    .mat-paginator-container .mat-paginator-page-size{ 
        display: none;
    }
}

.fix-btn-plus {
    margin: 10px;
    position: fixed;
    bottom: 100px;
    right: 0px;
  }
  
  .btn-plus {
    border-radius: 100% !important;
    height: 60px;
    background: rgba(247, 104, 0, 0.78);
    outline: none !important;
    &:focus {
      background: rgba(247, 104, 0, 0.78);
      outline: none !important;
    }
  }

  @media (min-height: 850px) {
  body {
    overflow: hidden !important;
  }
}

@media (max-height: 830px) {
  .container {
    height: calc(100%);
  }

}

@media (max-height: 740px) {
  .container {
    height: calc(100% + 100px);
  }

}

@media (max-height: 640px) {
  .container {
    height: calc(100% + 200px);
  }

}
@media (max-height: 540px) {
  .container {
    height: calc(100% + 300px);
  }

}
