<!-- <div class="position-fixed top-0">
    <mat-icon class="log-out-icon" (click)="logout()">reply</mat-icon>
</div> -->

<div class="bot-nav-bar position-fixed text-center bottom-0 ">
    <!-- Type 0 = Clasic user -->
    <div class="row" *ngIf="user?.type == 0">
        <div class="col-4 item">
            <a routerLink="/calendar">
                <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
            </a>
        </div>
        <div class="col-4 item">
            <a routerLink="/dashboard">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </a>
        </div>
        <div class="col-4 item">
            <a routerLink="/profile">
                <mat-icon aria-hidden="false" aria-label="Example home icon">person_outline</mat-icon>
            </a>
        </div>
    </div>
    <!-- Type 1 = Admin only -->
    <div class="row" *ngIf="user?.type == 1">
        <div class="col-3 item">
            <a routerLink="/calendar">
                <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
            </a>
        </div>
        <div class="col-3 item">
            <a routerLink="/dashboard">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </a>
        </div>
        <div class="col-3 item">
            <a routerLink="/table">
                <mat-icon aria-hidden="false" aria-label="Example home icon">table</mat-icon>
            </a>
        </div>
        <div class="col-3 item">
            <a routerLink="/profile">
                <mat-icon aria-hidden="false" aria-label="Example home icon">person_outline</mat-icon>
            </a>
        </div>
    </div>

</div>