.profile-container{
    .version {
        position: fixed;
        top: 0;
        right: 0;
        margin: 5px 15px;
        font-size: 13px;
    }
    
    padding: 25px;
    text-align: center;

    .text-right{
        text-align: right;
    }
    .mat-icon-profile{
        transform: translateY(7px);
    }
    .info-profile-space{
        transform: translateY(7px);
        text-align: start;
    }
    .title {
        font-size: 26px;
        font-weight: 900;
    }
    .profile-name{
        text-align: left;
    }

    .profile-photo{
        .img-profile {
            border-radius: 100%;
            width: 200px;
            height: 200px;
        }
        .img-lvl{
            position: absolute;
            width: 80px;
            transform: rotate(1.568rad) translate(35px,55px);
        }
    }

}

.button-field{
    text-align: center;
    button{
        background: transparent;
        border-color: #ca3737;
        color: var(--bs-body-color);

       &:hover, &:focus{
        background: #ca3737;
        color: white;
        mat-icon{
            color:white;
        }
       }
    }
    .button-text{
        mat-icon{
            transform: translateY(2px);
            display: inline-flex;
            color: #ca3737;
        }
        .letter{
            display: inline-flex;
            transform: translateY(-5px) !important;
            margin: 0 15px 0;
        }
    }
}


@media (max-height: 670px) {
  .fix-height {
    height: calc(100% + 100px);
  }
}

@media (max-height: 570px) {
    .fix-height{
      height: calc(100% + 200px);
    }
}

@media (max-height: 470px) {
    .fix-height {
      height: calc(100% + 300px);
    }
}

@media (max-height: 370px) {
    .fix-height {
      height: calc(100% + 400px);
    }
}