// .cal-month-view .cal-day-cell {
//     min-height: 50px;
//   }
  
//   .cal-month-view .cal-day-cell {
//     min-height: 0; 
//   }
.month-view{
  .cal-cell-row {
    // height: 100%;
  }
  .ng-star-inserted { 
    // height: 80px;
  }
  .cal-month-view .cal-day-cell {
    // height: 80px;
    // min-height: 0px;
  }
  // .cal-month-view .cal-day-badge {
  //   height: auto;
  //   position: fixed;
  //   transform: translate(7px,30px);
  // }
  .cal-events .ng-star-inserted {
    display: none;
  }
}

@media (min-height: 850px) {
  body {
    overflow: hidden !important;
  }
}

@media (max-height: 825px) {
  .container {
    height: calc(100% + 100px);
  }

}

@media (max-height: 740px) {
  .container {
    height: calc(100% + 200px);
  }

}

@media (max-height: 640px) {
  .container {
    height: calc(100% + 300px);
  }

}
@media (max-height: 540px) {
  .container {
    height: calc(100% + 400px);
  }

}

.margin-title {
  margin-top : 3.5rem;
  .title {
    justify-content: center;
    align-items: baseline;
  }
}

.btn-calendar-step {
  width: 37px;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 0px auto;

  .mat-icon {
    text-align: center;
    transform: translate(5px,3px);
  }
}

.fix-btn-plus {
  margin: 10px;
  position: fixed;
  bottom: 100px;
  right: 0px;
}

.btn-plus {
  border-radius: 100% !important;
  height: 60px;
  background: rgba(247, 104, 0, 0.78);
  outline: none !important;
  &:focus {
    background: rgba(247, 104, 0, 0.78);
    outline: none !important;
  }
}