<div class="text-center " [formGroup]="selectService">
    <h1 class="mb-4">{{'add_schedule' | translate}}</h1>

    <mat-form-field appearance="fill">
        <mat-label>{{'select_date' | translate}}</mat-label>
        <input matInput [min]="minDate" formControlName="picker" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h3>{{'select_hour' | translate}}</h3>
    <div class="row mt-2 select-hour mb-2">
        <div class="col-4">
            <mat-checkbox formControlName="A">{{'A_h'| translate}}</mat-checkbox>
            <mat-hint>(7.30 - 14.00)</mat-hint>
        </div>
        <div class="col-4">
            <mat-checkbox formControlName="B">{{'B_h'| translate}}</mat-checkbox>
            <mat-hint>(14.00 - 22.00)</mat-hint>
        </div>
        <div class="col-4">
            <mat-checkbox formControlName="G">{{'G_h'| translate}}</mat-checkbox>
            <mat-hint>(22.00 - 7.30)</mat-hint>
        </div>
    </div>
    <mat-form-field class="full-width mt-2" appearance="fill">
        <mat-label>{{'extra_message'| translate}}</mat-label>
        <textarea matInput placeholder="πληκτρολογήστε..." formControlName="message"></textarea>
    </mat-form-field>

    <div>
        <button class="btn-service btn-cancel-service" (click)="cancel()">{{'btn_cancel'| translate}}</button>
        <button class="btn-service btn-send-service" (click)="send()">{{'btn_send'| translate}}</button>
    </div>
</div>