<div class="position-fixed top-0">
    <mat-icon class="log-out-icon" (click)="goBack()">reply</mat-icon>
</div>
<div class=" mt-4 mb-5 text-center">{{ 'gen_reset_password' | translate}}</div>

<form [formGroup]="secondFormGroup" class="text-center" style="overflow: hidden;">
    <div class="mt-1 container-fluid">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'gen_fire_department_ID' | translate}}</mat-label>
                    <input matInput placeholder="{{'gen_placeholder_announcement' | translate}}" formControlName="username" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'gen_password' | translate}}</mat-label>
                    <input matInput placeholder="{{'gen_placeholder_announcement' | translate}}" formControlName="password" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'gen_confirm_password' | translate}}</mat-label>
                    <input matInput placeholder="{{'gen_placeholder_announcement' | translate}}" formControlName="confirmPassword" required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <!-- Button next -->
    <div class="text-center">
        <button mat-raised-button class="m-4 " (click)="confirm()">{{'gen_reset' | translate}}</button>
    </div>
</form>